<%- include("header") -%>
    <!-- <div class="box" id="heading"><h1>About the Developer!</h1></div> -->
    <div class="box" id="heading"><h1>About the Developer!</h1></div>
    <div class="box">
        <p>Software Developer who develops solutions using Python, Django, HTML, CSS, JavaScript and the Google Cloud Platform. Here listed are skills and competencies possessed by the developer....</p>
    </div>
<%- include("footer") -%>